.popover-content {
  position: relative;
  z-index: 2;
  min-width: 12rem;
}

.popover-arrow {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 3px;
  left: calc(50% - 4px);
  transform: translate(0px, 0px) rotate(45deg);
  background-color: inherit;;
  z-index: 1;
}

.dropdown {
  .dropdown-menu {
    min-width: auto;
  }

  &.is-top,
  &.is-top-left,
  &.is-top-right {
    .dropdown-menu {
      padding-top: initial;
      padding-right: initial;
      padding-bottom: $dropdown-content-offset;
      padding-left: initial;

      top: auto;
      bottom: 100%;
      left: auto;
      right: auto;
    }
    .popover-arrow {
      top: auto;
      bottom: 3px;
      left: calc(50% - 4px);
      right: auto;
    }
  }
  &.is-top-left {
    .dropdown-menu {
      left: 0;
    }
    .popover-arrow {
      left: 0.5rem;
    }
  }
  &.is-top-right {
    .dropdown-menu {
      right: 0;
    }
    .popover-arrow {
      left: auto;
      right: 0.5rem;
    }
  }
  &.is-bottom,
  &.is-bottom-left,
  &.is-bottom-right {
    .dropdown-menu {
      padding-top: $dropdown-content-offset;
      padding-right: initial;
      padding-bottom: initial;
      padding-left: initial;

      top: 100%;
      bottom: auto;
      left: auto;
      right: auto;
    }

    .popover-arrow {
      top: 3px;
      bottom: auto;
      left: calc(50% - 4px);
      right: auto;
    }
  }
  &.is-bottom-left {
    .dropdown-menu {
      left: 0;
    }
    .popover-arrow {
      left: 0.5rem;
    }
  }
  &.is-bottom-right {
    .dropdown-menu {
      right: 0;
    }
    .popover-arrow {
      left: auto;
      right: 0.5rem;
    }
  }
  &.is-left,
  &.is-left-top,
  &.is-left-bottom {
    .dropdown-menu {
      padding-top: initial;
      padding-bottom: initial;
      padding-left: initial;
      padding-right: $dropdown-content-offset;

      top: auto;
      bottom: auto;
      left: auto;
      right: 100%;
    }

    .popover-arrow {
      top: calc(50% - 4px);
      bottom: auto;
      left: auto;
      right: 3px;
    }
  }
  &.is-left-top {
    .dropdown-menu {
      top: 0;
    }
    .popover-arrow {
      top: 0.5rem;
    }
  }
  &.is-left-bottom {
    .dropdown-menu {
      bottom: 0;
    }
    .popover-arrow {
      top: auto;
      bottom: 0.5rem;
    }
  }
  &.is-right,
  &.is-right-top,
  &.is-right-bottom {
    .dropdown-menu {
      padding-top: initial;
      padding-bottom: initial;
      padding-left: $dropdown-content-offset;
      padding-right: initial;

      top: auto;
      bottom: auto;
      left: 100%;
      right: auto;
    }

    .popover-arrow {
      top: calc(50% - 4px);
      bottom: auto;
      left: 3px;
      right: auto;
    }
  }
  &.is-right-top {
    .dropdown-menu {
      top: 0;
    }
    .popover-arrow {
      top: 0.5rem;
    }
  }
  &.is-right-bottom {
    .dropdown-menu {
      bottom: 0;
    }
    .popover-arrow {
      top: auto;
      bottom: 0.5rem;
    }
  }
}
